<div class="table-babbage" ng-hide="queryLoaded">
  <div class="alert alert-info">
    <strong>You have not selected any data.</strong> Please choose a breakdown for
    your treemap.
  </div>
</div>

<div class="alert alert-warning" ng-show="cutoffWarning">
  <strong>Too many tiles.</strong> The breakdown you have selected contains many
  different categories, only the {{cutoff}} biggest are shown.
</div>

<div class="treemap-chart"></div>

<div class="treemap-list">
  <div class="treemap-table-bar">
    <a href="#" ng-click="treeMapTable.toggle()" ng-show="treeMapTable.show">
      <span class="fa fa-caret-up"></span>
      Hide list
    </a>
    <a href="#" ng-click="treeMapTable.toggle()" ng-hide="treeMapTable.show">
      <span class="fa fa-caret-down"></span>
      Show list
    </a>
  </div>
  <table class="treemap-table table-striped">
    <thead>
    <tr>
      <th>
        <a href="#" ng-click="treeMapTable.sortAttr = '_name'; treeMapTable.invertSorting();">
          title
          <span ng-show="treeMapTable.sortAttr == '_name'" class="fa" ng-class="treeMapTable.sortDesc ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="treeMapTable.sortAttr = 'value'; treeMapTable.invertSorting();">
          amount
          <span ng-show="treeMapTable.sortAttr == 'value'" class="fa" ng-class="treeMapTable.sortDesc ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="treeMapTable.sortAttr = '_percentage'; treeMapTable.invertSorting();">
          share
          <span ng-show="treeMapTable.sortAttr == '_percentage'" class="fa" ng-class="treeMapTable.sortDesc ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in treeMapTable.data.children | orderBy:treeMapTable.sortAttr:treeMapTable.sortDesc" class="datarow" ng-click="treeMapTable.selectTableRow(item)">
      <td><span class="colorbox" ng-style="{'background-color':item._color}"></span>{{ item._name }}</td>
      <td>{{ item._area_fmt_currency }}</td>
      <td>{{ (item._percentage * 100).toFixed(2) }}%</td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>{{ treeMapTable.data.summary_fmt_currency }}</td>
        <td>100%</td>
      </tr>
    </tfoot>
  </table>
</div>
