<div class="alert alert-info" ng-if="status.isLoading">
  <i class="babbage-loading-icon"></i><span ng-bind-html="trustAsHtml(i18n('loadingData'))"></span>
</div>

<div class="alert alert-warning" ng-if="status.isEmpty && status.hasError == false"
  ng-bind-html="trustAsHtml(i18n('noDataAvailable'))"></div>

<div class="alert alert-warning" ng-if="status.hasError"
  ng-bind-html="trustAsHtml(i18n('serverError', {error: error}))"></div>

<div class="alert alert-warning" ng-if="status.isCutOff"
  ng-bind-html="trustAsHtml(i18n('tooManyCategories', {count: status.cutoff}))"></div>

<div class="treemap-chart"></div>

<div class="treemap-list">
  <div class="treemap-table-bar">
    <a href="javascript:void(0)" ng-click="treeMapTable.toggle()" ng-if="treeMapTable.show">
      <span class="fa fa-caret-up"></span>
      {{ i18n('Hide list') }}
    </a>
    <a href="javascript:void(0)" ng-click="treeMapTable.toggle()" ng-if="!treeMapTable.show">
      <span class="fa fa-caret-down"></span>
      {{ i18n('Show list') }}
    </a>
  </div>
  <table class="treemap-table table-striped">
    <thead>
    <tr>
      <th>
        <a href="javascript:void(0)" ng-click="treeMapTable.sortAttr = 'name'; treeMapTable.invertSorting();">
          {{ i18n('title') }}
          <span ng-if="treeMapTable.sortAttr == 'name'" class="fa" ng-class="treeMapTable.sortDesc ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
      <th>
        <a href="javascript:void(0)" ng-click="treeMapTable.sortAttr = 'value'; treeMapTable.invertSorting();">
          {{ i18n('amount') }}
          <span ng-if="treeMapTable.sortAttr == 'value'" class="fa" ng-class="treeMapTable.sortDesc ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
      <th>
        <a href="javascript:void(0)" ng-click="treeMapTable.sortAttr = 'percentage'; treeMapTable.invertSorting();">
          {{ i18n('percentage') }}
          <span ng-if="treeMapTable.sortAttr == 'percentage'" class="fa" ng-class="treeMapTable.sortDesc ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in treeMapTable.data.children | orderBy:treeMapTable.sortAttr:treeMapTable.sortDesc" class="datarow" ng-click="treeMapTable.selectTableRow(item)" ng-if="item.key!='Others'">
      <td><span class="colorbox" ng-style="{'background-color':item.color}"></span>{{ item.name }}</td>
      <td>{{ item.areaFmtCurrency }}</td>
      <td>{{ (item.percentage * 100).toFixed(2) }}%</td>
    </tr>
    <tr ng-repeat="item in treeMapTable.data.children | orderBy:treeMapTable.sortAttr:treeMapTable.sortDesc" class="datarow" ng-if="item.key=='Others'">
      <td><span class="colorbox" ng-style="{'background-color':item.color}"></span>{{ item.name }}</td>
      <td>{{ item.areaFmtCurrency }}</td>
      <td>{{ (item.percentage * 100).toFixed(2) }}%</td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>{{ i18n('total') }}</td>
        <td>{{ treeMapTable.data.summaryFmtCurrency }}</td>
        <td>100%</td>
      </tr>
    </tfoot>
  </table>
</div>
