<div class="alert alert-info" ng-if="status.isLoading">
  <i class="babbage-loading-icon"></i><span ng-bind-html="trustAsHtml(i18n('loadingData'))"></span>
</div>

<div class="alert alert-warning" ng-if="status.isEmpty"
  ng-bind-html="trustAsHtml(i18n('noDataAvailable'))"></div>

<div class="alert alert-warning" ng-if="status.hasError"
  ng-bind-html="trustAsHtml(i18n('serverError', {error: error}))"></div>

<div class="alert alert-warning" ng-if="status.isCutOff"
  ng-bind-html="trustAsHtml(i18n('tooManyCategories', {count: status.cutoff}))"></div>

<div style="width: 100%; padding-top: 60%; position: relative">
  <div class="bubbletree" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%"/>
</div>

