<cubes slicer="{{slicer}}" cube="{{cube}}" state="state" change-state="updateState(state)">
  <div class="row">
    <div class="col-md-9">
      <div ng-if="view == 'crosstab'">
        <cubes-crosstab></cubes-crosstab>
      </div>
      <div ng-if="view == 'facts'">
        <cubes-facts></cubes-facts>
      </div>
    </div>
    <div class="col-md-3">
      <div class="btn-group spaced" role="group">
        <a class="btn btn-default"
          tooltip-placement="bottom" tooltip="Table"
          ng-class="{'active': state.view == 'facts'}"
          ng-click="setView('facts')">
          <i class="fa fa-table"></i> Line items
        </a>
        <a class="btn btn-default"
          tooltip-placement="bottom" tooltip="Crosstab"
          ng-class="{'active': state.view == 'crosstab'}"
          ng-click="setView('crosstab')">
          <i class="fa fa-cubes"></i> Crosstab
        </a>
        <!--a type="button" class="btn btn-default disabled">
          <i class="fa fa-bar-chart"></i>
        </a-->
      </div>
      <cubes-panel></cubes-panel>
    </div>
  </div>
</cubes>
