<cubes slicer="{{slicer}}" cube="{{cube}}" state="state">
  <div class="row">
    <div class="col-md-9">
      <div ng-if="view == 'crosstab'">
        <cubes-crosstab></cubes-crosstab>
      </div>
      <div ng-if="view == 'facts'">
        <cubes-facts></cubes-facts>
      </div>
      <div ng-if="view == 'treemap'">
        <cubes-treemap></cubes-treemap>
      </div>
    </div>
    <div class="col-md-3">
      <div class="btn-group spaced" role="group">
        <a class="btn btn-default"
          ng-class="{'active': view == 'facts'}"
          ng-click="setView('facts')">
          <i class="fa fa-table"></i> Items
        </a>
        <a class="btn btn-default"
          ng-class="{'active': view == 'crosstab'}"
          ng-click="setView('crosstab')">
          <i class="fa fa-cubes"></i> Pivot table
        </a>
        <a class="btn btn-default"
          ng-class="{'active': view == 'treemap'}"
          ng-click="setView('treemap')">
          <i class="fa fa-th-large"></i> Treemap
        </a>
      </div>
      <cubes-panel></cubes-panel>
    </div>
  </div>
</cubes>
