<div class="table-babbage" ng-show="rows.length">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr ng-repeat="header in tableData.headers">
      <th ng-repeat="row in header"></th>
        {{row}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rows in tableData.columns">
      <td ng-repeat="row in rows">
        {{row}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-babbage" ng-hide="rows.length || !queryLoaded">
  <div class="alert alert-info">
    <strong>You have not selected any data.</strong> Please choose a set of rows
    and columns to generate a cross-table.
  </div>
</div>
