<div class="alert alert-info" ng-if="status.isLoading">
  <i class="babbage-loading-icon"></i><span ng-bind-html="trustAsHtml(i18n('loadingData'))"></span>
</div>

<div class="alert alert-warning" ng-if="status.isEmpty && status.hasError == false"
  ng-bind-html="trustAsHtml(i18n('noDataAvailable'))"></div>

<div class="alert alert-warning" ng-if="status.hasError"
  ng-bind-html="trustAsHtml(i18n('serverError', {error: error}))"></div>

<div class="table-babbage" ng-if="!status.isEmpty">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr ng-repeat="header in tableData.headers">
      <th ng-repeat="col in header">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rows in tableData.columns">
      <td ng-repeat="dimension in rows.dimensions">
        {{dimension.nameValue}}
      </td>
      <td ng-repeat="measure in rows.measures" class="numeric">
        {{ valueFormatter(measure.value) }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
